/*
Error: Invalid CSS after "...ion: landscape)": expected "{", was "(max-height: 73..."
        on line 10 of /Users/ma3b9g4/git/scoot-demo/extra.scss

5: 
6: (max-height: 420px) and
7: (max-width: 736px)  and 
8: (orientation: landscape)
9: 
10: (max-height: 736px) and (max-width: 420px) and (orientation: portrait),
11: (max-height: 420px) and (max-width: 736px) and (orientation: landscape)
12: 
13: 
14: 
15: Fort Mason Farmer's Market

Backtrace:
/Users/ma3b9g4/git/scoot-demo/extra.scss:10
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1179:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1115:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1110:in `tok!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:654:in `block'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:407:in `media_directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:220:in `special_directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:195:in `directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:673:in `block_child'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:663:in `block_contents'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:123:in `stylesheet'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:39:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:403:in `_to_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:278:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:423:in `run'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...ion: landscape)\": expected \"{\", was \"(max-height: 73...\"\A         on line 10 of /Users/ma3b9g4/git/scoot-demo/extra.scss\A \A 5: \A 6: (max-height: 420px) and\A 7: (max-width: 736px)  and \A 8: (orientation: landscape)\A 9: \A 10: (max-height: 736px) and (max-width: 420px) and (orientation: portrait),\A 11: (max-height: 420px) and (max-width: 736px) and (orientation: landscape)\A 12: \A 13: \A 14: \A 15: Fort Mason Farmer's Market"; }
