body {
  font-family: "proxima-nova", sans-serif;
  font-family: "proxima-nova-soft", sans-serif;
  font-weight: 400;
  color: #483D3D;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: url(../img/map.png); }

body,
html {
  height: 100%;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  font-kerning: normal;
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
  overflow: hidden; }

.row {
  width: 100%;
  display: table;
  table-layout: fixed; }

.col {
  display: table-cell; }

.container {
  background: rgba(0, 0, 0, 0.5); }

.cell {
  width: 100%;
  height: 75vh;
  background: #fff;
  box-sizing: border-box;
  padding-bottom: 50px;
  overflow-y: scroll; }
  .cell img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block; }
  .cell h1 {
    text-align: center; }

.next-prev-tray {
  position: absolute;
  top: auto;
  bottom: 0px;
  z-index: 100;
  background: #efefef;
  height: 40px;
  width: 100%;
  border-top: 1px solid #ccc; }
  .next-prev-tray .prev-btn {
    position: absolute;
    left: 0px;
    top: 0px; }
    .next-prev-tray .prev-btn i {
      margin-right: 8px;
      position: relative;
      top: 1px; }
  .next-prev-tray .next-btn {
    position: absolute;
    right: 0px;
    top: 0px; }
    .next-prev-tray .next-btn i {
      margin-left: 8px;
      position: relative;
      top: 1px; }
  .next-prev-tray .prev-btn, .next-prev-tray .next-btn {
    z-index: 999;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    cursor: pointer; }

.next-prev-tray:after {
  content: '';
  display: block;
  width: 100%;
  height: 10px;
  position: absolute;
  top: -11px;
  left: 0;
  background: transparent;
  background: -moz-linear-gradient(top, transparent 0%, transparent 0%, black 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(0%, transparent), color-stop(100%, black));
  background: -webkit-linear-gradient(top, transparent 0%, transparent 0%, black 100%);
  background: -o-linear-gradient(top, transparent 0%, transparent 0%, black 100%);
  background: -ms-linear-gradient(top, transparent 0%, transparent 0%, black 100%);
  background: linear-gradient(to bottom, transparent 0%, transparent 0%, black 100%);
  opacity: 0.15; }

.get-started-btn {
  margin: 0 auto;
  display: block;
  width: 90px;
  text-align: center;
  padding: 6px 12px !important;
  position: relative;
  top: 4px;
  transform: scale(0); }

.get-started-now {
  -webkit-animation: splash 1000ms linear both;
  animation: splash 1000ms linear both; }

@-webkit-keyframes splash {
  0% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% {
    -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% {
    -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% {
    -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% {
    -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% {
    -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% {
    -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% {
    -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% {
    -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% {
    -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% {
    -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% {
    -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }
@keyframes splash {
  0% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% {
    -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% {
    -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% {
    -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% {
    -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% {
    -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% {
    -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% {
    -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% {
    -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% {
    -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% {
    -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% {
    -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }
.flickity-page-dots {
  bottom: -25px;
  z-index: 200; }
  .flickity-page-dots .dot {
    background: #fff; }

.how-to-slider {
  max-width: 99%;
  margin: 0 auto; }

.slider-container {
  height: 100vh;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 50px;
  box-sizing: border-box; }

.col {
  vertical-align: middle; }

.flickity-viewport {
  background: #333; }

.slider-title {
  width: 100%;
  position: absolute;
  height: 40px;
  top: -39px;
  line-height: 44px;
  border-radius: 6px 6px 0px 0px;
  left: 0px;
  background: #E53A31; }
  .slider-title h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 100;
    font-family: 'proxima-nova';
    color: #fff;
    text-align: center; }

.btn {
  padding: 8px 12px;
  background: #fff;
  background: #E53A31;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #fff;
  font-family: 'proxima-nova';
  font-weight: 100;
  border: 1px solid #A62A23;
  border-radius: 4px; }

.white-space-btn {
  margin: 8px 0px;
  display: inline-block; }

.cell-title h1 {
  font-size: 24px;
  font-weight: 300; }

.cell-info {
  padding: 10px;
  box-sizing: border-box; }
  .cell-info p {
    font-size: 14px;
    line-height: 18px; }
  .cell-info ol {
    margin: 0;
    padding: 0 0 0 14px; }
    .cell-info ol li {
      font-size: 14px;
      padding-left: 4px;
      margin-bottom: 4px; }

.helpful-heading {
  font-size: 15px;
  margin-bottom: 4px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'proxima-nova';
  letter-spacing: 1px; }

.cell-links {
  padding: 0;
  margin: 0;
  padding-left: 20px; }
  .cell-links li {
    margin-bottom: 6px;
    font-size: 14px; }
    .cell-links li a {
      color: #A62A23; }

.image-wrapper {
  width: 100%;
  margin: 6px 0;
  overflow: hidden;
  transition: 0.3s height;
  height: 260px;
  text-align: center;
  background: #efefef; }
  .image-wrapper img {
    max-height: 250px;
    width: auto;
    margin: 0 auto;
    display: block; }

.hidden {
  height: 0; }

.active-btn {
  background: #A62A23 !important; }

.image-reveal-btn {
  width: 220px;
  display: inline-block;
  text-align: center; }

.step-1 {
  background: url(../img/step-1.jpg); }

.step-2 {
  background: url(../img/step-2.jpg); }

.step-3 {
  background: url(../img/step-3.jpg); }

.step-6 {
  background: url(../img/step-6.jpg); }

.step-7 {
  background: url(../img/step-7.jpg); }

.step-8 {
  background: url(../img/step-8.jpg); }

.image-heading {
  background-size: cover !important;
  height: 18vh;
  line-height: 18vh; }
  .image-heading.image-2x {
    height: 35vh;
    line-height: 35vh; }
  .image-heading h1 {
    margin: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9); }

.disabled {
  opacity: 0.5; }

.safety-img {
  max-width: 230px !important; }

.btn-wrapper {
  text-align: center; }

.start-link {
  color: #A62A23; }

.back-btn {
  display: none; }

@media (min-width: 800px) {
  .how-to-slider {
    max-width: 780px; }

  .safety-img {
    max-width: 350px !important; }

  .image-heading {
    background-size: cover !important;
    height: 20vh;
    line-height: 20vh; }
    .image-heading.image-2x {
      height: 35vh;
      line-height: 35vh; }
    .image-heading h1 {
      margin: 0;
      color: #fff;
      font-size: 32px;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9); }

  .slider-container {
    padding-top: 80px;
    box-sizing: border-box; }

  .back-btn {
    display: block;
    padding: 10px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #E53A31;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    opacity: 0.4;
    transition: 0.3s opacity; }
    .back-btn:hover {
      opacity: 1; }
    .back-btn i {
      margin-right: 6px;
      margin-left: -6px; } }
